/*reset css*/

@charset "utf-8";
/* CSS Document*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
padding: 0;
margin: 0;
font-size: 100%;
font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*end of reset css*/

body{
    background: #f0ecfe;
}

main{
    border-bottom: 0px;
}


section{
    margin-left: 160px;
    margin-right: 160px;
}

footer{
    background: #272155;
    margin-left: 160px;
    margin-right: 160px;
    font-family: sans-serif;
    color: #a197ee;
}

    footer li{
        list-style: none;
        margin:0;
    }
    footer a:link{
        color:#8f82eb;
    }   
    footer a:visited{
        color:#6958e4;
    }
    footer a:hover{
        color:#e458d3;
    } 
    a:active{
        color:#e458b0;
    }

hr{
    height: 3px;
    background-color: #ff533d;
    border: none;
}

figure{
    margin: 0;
}


/* @font-face */

@font-face {
    font-family: 'personalized-font';
    src:url("Quicksand_Book.otf")
}

@font-face {
    font-family: 'personalized-font1';
    src:url("Palatino.ttf")
}

/* class */

.menu {
    display: flex ;
	justify-content:flex-end;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}


.nav > li{
    float:left;
    font-family: 'calibri';
    list-style: none;
    font-size: 1.2em;
    }
    
    .nav li a{
        color: #6958e4;
        text-decoration:none;
        /* padding:10px 12px; */
        display:block; 
        }
    
        .nav li a:hover {
            background-color:#272155;
            color:#a197ee;
            }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }

.fontsforwebcontent{
    background: #f0ecfe;
}

.normaltext{
    font-family: sans-serif;
    padding:50px;
    padding-top:25px;
    padding-bottom:25px;
    color: #211a3e;
    font-size: 1.2em;
}
    .normaltext h2{
        color: #0f1626;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 2em;
        font-weight: bold;
    }
    .normaltext h3{
        color: #ff533d;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 15px;
    }

    .normaltext figcaption{
        padding: 5px;
        font-size: 0.8em;
    }

    .normaltext a {
        text-decoration:none;
        font-weight: bold;
   }

        .normaltext a:link {
        color:#211a3e;
        }   
        .normaltext a:visited {
        color:#42378e;
        }
        .normaltext a:hover{
        color:#ff533d;
        } 
        .normaltext a:active{
        color:#e458b0;
        }

.centrar{
    text-align: center;
}

.containerflex3{
    display: flex;
}

.boxflex1{
    margin-top: 2px;
    background-color: #ff533d;
    width: 32%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
}
.boxflex2{
    background-color: #ab9874;
    margin-right: 15px;
    margin-left: 15px;
    width: 32%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    border:#0f1626 2px solid;
}

.boxtextwb{
    background:#f5f5f5;
    color: black;
    margin-bottom: 10px;
    padding:10px;
    font-family: sans-serif;
    font-weight: 1.5 em;
}

.boxtextpb{
    background:#ff533d;
    color: black;
    margin-bottom: 10px;
    padding:10px;
    font-family: sans-serif;
    font-weight: 1.5 em;
}

.flexbox3title{
    font-size: 2em;
    text-align: center;
    color: #0f1626;
    font-weight: bold;
}

.highochre{
    background:  #ab9874;
    padding:20px;
    border: 3px solid #0f1626;
    border-radius: 5px;
}
    .highochre p {
        font-weight: bold;
    }

/* class for fonts */

.times-new-roman{
    font-family: 'Times New Roman', Times, serif;
}


.courier {
	font-family: 'Courier Prime', monospace;
}

.sanserif{
    font-family: sans-serif;
}

.palatino {
    font-family: 'palatino', serif;
}

.quicksandbook{
    font: normal 1.1em 'personalized-font';
    font-weight: 200;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.colibri{
    font-family: 'calibri', sans-serif;
    font-size: large;
} 

.verona{
    font-family: 'verona' sans-serif;
    
}

.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
/* este es el menu desplegable */
        .nav li:hover > ul{
            display:block;
            background-color: #0d0b1c;
            color:#6958e4;
            }

.cajasflex{
    /*  margin-left: 5px;esta propiedad es para distanciar las cajas unas de otras */
        margin: 5px;
        padding: 30px;
        float: left;
        width: 30%;
        }

/* id */

#logo{
    /* width: 60px; este era del logo sin letras */
    height: 60px;
    float: left;
    margin-right: 0px;
    padding: 0px;
}

#botonmenu{
    background-color:#0e0e16 ;
    color:#6958e4;
    border:2px #6958e4 solid;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .10);
}
    #botonmenu:hover {
        background-color:#42378e;
        color:#a197ee;
        border:2px #a197ee solid;   
        }

#marginnav{
    padding-bottom: 6px;
    background: #0d0b1c;    
}


#footerflex{
    display: flex;
    margin-top: 50px;
}

#cajafooterizquierda{
    margin-left:7px;
}

#title{
    background: #0f1626;
}
    #title h1{
        color:#ff533d;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
        font-weight: bold;
        padding-top: 50px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    #title p{
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom:20px;
        color:#ab987a;
        font-size: 1.5em;
    }
